:root {
    --hf-bg-color: #f9fafb;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face {
    font-family: norse-bold-font;
    src: url(./fonts/Norse-Bold.otf);
  }
  body {
    display: flex;
    flex-flow: row wrap;
    height: 100vh;
    width: 70vw;
    position: absolute;
    left: 15vw;
    background-color: #0e0e0e;

  }
#image-container{
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image:url(./images/halie-west-25xggax4bSA-unsplash.jpg);
    width: 40%;

}
#logo-container {
    position: relative;
    top: 20vh;
    background-color: rgba(14, 14, 14,62%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
 #logo {
    height: 10vh;
}

#logo-text{
    font-family: norse-bold-font;
    font-size: 3rem;
    color: white;
}

#image-credit{
    position: absolute;
    bottom: .5vh;
    right: 1vh;
    color: white;
    font-size: .7rem;
}
#image-credit a{
    color: inherit;
}

#right-container{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    width: 60%;
}
#header, section, #footer {
    padding: 0px 40px;
}

#header {
    /* height: 40vh; */
    flex: 1.4 1 auto;
    background-color: var(--hf-bg-color);
    font-weight: bold;
}

section {
    /* height: 20vh; */
    position: relative;
    flex: 1 1 auto;
    background-color: white;
    box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 37%);
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;

    padding-top: 20px;
    padding-bottom: 20px;
}

legend {
    padding: 0px 0px 0px 10px;
    font-weight: bolder;
}
.form-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    justify-content: space-around;
}

.form-input {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    /* align-items: center; */
    /* justify-content: space-around; */
    padding: 5px;
    padding-right: 5vw;
    width: min(180px, 13vw);
}

.form-input * {
    padding: 3px 0px;
}

label {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: .7rem;
    padding: 2px 0px;
}

.form-input>input {
    padding: 2px 5px;
}


#footer {
    /* height: 40vh; */
    flex: 1.3 1 auto;
    background-color: var(--hf-bg-color);
    /* display: flex; */
    /* flex-direction: column; */
}

#header>div {
    position: relative;
    top:50%;
}
#header p {
    padding-bottom:10px;
    margin-right: 50px;
}

#footer a {
    color: #596d48;
    font-weight: bold;
}
input:focus {
    outline: none;
    border: 2px solid #596d48;
    border-radius: 2px;
}
button {
    padding: 12px 45px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    font-weight: bolder;
    font-size: 1.1rem;
    background-color: #596d48;
    box-shadow: 0px 5px 3px -1px rgba(150, 150, 150, 0.452);
    border-radius: 4px;
    border: 0px;
}

@media (max-width: 1000px) {
    #header>div{
        top: 20%;
    }
}

@media (max-height: 750px) {
    #header>div{
        top: 5vh;
    }
}
@media (max-width: 700px){

    body {
        flex-flow: column nowrap;
        height: 100vh;
        width: 100vw;
        position: initial;
        background-color: rgba(36, 36, 36, 0.856);
      }
    #image-container,#right-container {
        width: 100%;
    }
    #logo-container {

        position: initial;
        top: initial;
        padding: 10px;
    }
    #image-credit{
        position: initial;
        bottom: initial;
        right: initial;
        text-align: center;
        padding: 4px;
    }
    #image-credit a{
        color: inherit;
    }
    #header>div{
        top:initial;
        display: flex;
        flex-direction: column;
    }
    #header p{
        padding-top:10px;
        margin: 5px;
    }
    #footer p {
        padding-bottom: 10px;
    }
    section {
        /* height: 20vh; */
        position: relative;
        flex: 1 1 auto;
        background-color: white;
        box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 37%);
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: space-around;
    
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .form-row {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        justify-content: space-around;
    }
    .form-input {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        /* align-items: center; */
        /* justify-content: space-around; */
        padding: 5px;
        padding-right: 5vw;
        width: initial;
    }
    .form-input * {
        padding: 3px 0px;
    }
    

}